/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-wx {
  background-image: url(./sprite.png);
  background-position: 0px 0px;
  width: 200px;
  height: 200px;
}
.icon-GitHub {
  background-image: url(./sprite.png);
  background-position: 0px -200px;
  width: 205px;
  height: 200px;
}
.icon-snow {
  background-image: url(./sprite.png);
  background-position: 0px -400px;
  width: 240px;
  height: 218px;
}
.icon-logo {
  background-image: url(./sprite.png);
  background-position: 0px -618px;
  width: 240px;
  height: 240px;
}
.icon-next-prev-sprite {
  background-image: url(./sprite.png);
  background-position: 0px -858px;
  width: 60px;
  height: 300px;
}
.icon-next-prev-sprite-hover {
  background-image: url(./sprite.png);
  background-position: 0px -1158px;
  width: 60px;
  height: 300px;
}
.icon-lets-get-out-of-here {
  background-image: url(./sprite.png);
  background-position: 0px -1458px;
  width: 680px;
  height: 460px;
}
.icon-hiding-the-map {
  background-image: url(./sprite.png);
  background-position: 0px -1918px;
  width: 680px;
  height: 460px;
}
.icon-the-battle {
  background-image: url(./sprite.png);
  background-position: 0px -2378px;
  width: 680px;
  height: 460px;
}
.icon-theres-the-buoy {
  background-image: url(./sprite.png);
  background-position: 0px -2838px;
  width: 680px;
  height: 460px;
}
.icon-finding-the-key {
  background-image: url(./sprite.png);
  background-position: 0px -3298px;
  width: 680px;
  height: 460px;
}
.icon-page-bg {
  background-image: url(./sprite.png);
  background-position: 0px -3758px;
  width: 1px;
  height: 1200px;
}
